body {
    font-family: "Arial";
}

.res-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

a {
  color: #0499ff;
}

.main-img {
  border: solid black 4px;
  border-radius: 50%;
  margin: 80px;
}

h1 {
  background-color: #e2e2e2;
  padding: 5px;
}

.section-title {
    text-transform: capitalize;
}
